#hero_section {
  width: 100%;
  min-height: 200vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 8rem;
  position: relative;
}
#bg-hero {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}
#bg-hero #stars-hero-lg {
  width: 100%;
  height: auto;
}

#moon {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: -22rem;
  position: relative;
}
#stars-hero-md {
  width: 110%;
  height: auto;
  position: absolute;
  z-index: 2;
}
#moon-hero {
  display: block;
  width: 65%;
  height: auto;
  position: relative;
}
#gradient {
  width: 85%;
  height: auto;
  display: block;
  object-fit: contain;
  position: absolute;
  top: -28%;
}

#hero_content {
  position: absolute;
  top: 28%;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero_content h2 {
  font-family: PlayPretend;
  text-align: center;
  font-weight: 400;
  font-size: 7.5rem;
  line-height: 1;
  -webkit-text-stroke: 40px #053564;
  color: #fff;
  paint-order: stroke fill;
  text-transform: uppercase;
}
#store_btn_container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}
#store_btn_container img {
  height: 3.5rem;
  width: auto;
}
#ground_container {
  width: 100%;
  position: relative;
  z-index: 3;
}
#mountain {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: -6.2rem;
  position: relative;
}
#land {
  width: 100%;
  height: auto;
  display: block;
}

#stage {
  width: 35%;
  height: auto;
  position: absolute;
  z-index: 3;
  bottom: 27%;
  left: 5%;
}

/* about_section */

#about_section {
  width: 100%;
  height: 100vh;
}

/* why_section */
#why_section {
  width: 100%;
  height: auto;
  position: relative;
}
#why_star {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
#why_shadow {
  width: 100%;
  height: auto;
  display: block;
}

/* showcase_section */

#showcase_section {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#showcase_section h2 {
  font-family: PlayPretend;
  font-weight: 400;
  font-size: 5.5rem;
  text-align: center;
  color: #fff;
  position: relative;
  line-height: 0.8;
  z-index: 2;
}
#showcase_section h3 {
  font-family: Changes;
  font-weight: 500;
  font-size: 4.5rem;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  line-height: 0.8;
  z-index: 2;
  padding: 0.5rem 1.5rem 0;
  transform: rotate(3deg) translateX(-2%);
  transform-origin: top left;
}
#showcase_section h3 span {
  background-color: #ff2d17;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#showcase_gradient {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: -60%;
  left: 0;
}
#showcase_moon {
  width: 60%;
  height: auto;
  display: block;
  position: relative;
  margin: 6rem 0 8rem;
}

/* Conqure_section */
#conqure_section {
  width: 100%;
  position: relative;
  z-index: 3;
}

#tv_container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 3rem;
}
#tv {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
#tv_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3rem;
  padding-top: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}



#tv_content h2 {
  font-family: PlayPretend;
  font-weight: 400;
  font-size: 5.5rem;
  text-align: center;
  color: #fff;
  position: relative;
  line-height: 1;
  z-index: 2;
}

#tv_content h3 {
  font-family: Changes;
  font-weight: 500;
  font-size: 5rem;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  line-height: 0.8;
  z-index: 2;
}
#tv_content #custom {
  font-family: PlayPretend;
  font-weight: 400;
  font-size: 4.5rem;
  text-align: center;
  color: #fff;
  position: relative;
  line-height: 1;
  z-index: 2;
  -webkit-text-stroke: 1px #000;
  padding: 0.2rem 1rem 0;
  transform: rotate(-6deg) translateY(-14%);
}

#custom_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #A4BD3B;
  z-index: -1;
}



#tv_frame {
  width: 100%;
  height: auto;
  position: relative;
}
/* story_section */
#story_section {
  width: 100%;
  height: auto;
  position: relative;
}
#shadow-story {
  width: 95%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: -20rem;
}
#story-star-lg {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#story_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 0;
}

#story_overlay h2 {
  font-family: PlayPretend;
  font-weight: 400;
  font-size: 5.5rem;
  text-align: center;
  color: #fff;
  position: relative;
  line-height: 0.8;
  z-index: 2;
}

#story_overlay h3 {
  font-family: Changes;
  font-weight: 500;
  font-size: 5rem;
  text-transform: uppercase;
  color: #abe741;
  position: relative;
  line-height: 0.8;
  z-index: 2;
  -webkit-text-stroke: 1px #fff;
}
#story_overlay #hyst {
  font-family: PlayPretend;
  font-weight: 400;
  font-size: 4.5rem;
  text-align: center;
  color: #fff;
  position: relative;
  line-height: 1;
  z-index: 2;
  -webkit-text-stroke: 1px #000;
  padding: 0.2rem 1rem 0;
  transform: rotate(-14deg) translateX(50%) translateY(13%);
}

#hyst-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #014985;
  z-index: -1;
}
