@import "tailwindcss";

@font-face {
  font-family: AldotheApache;
  src: url(/fonts/AldotheApache.woff2);
}
@font-face {
  font-family: Changes;
  src: url(/fonts/Changes.woff2);
}
@font-face {
  font-family: PlayPretend;
  src: url(/fonts/Play\ Pretend.woff2);
}

html,
body {
  width: 100%;
  height: 100%;
 
}
#start_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(
    circle at center,
    #06407c 0%,
    #032a4d 40%,
    #000910 100%
  );
}
main {
  width: 100%;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

.galaxy-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden !important;
   background: radial-gradient(
    circle at center,
    #06407c 0%,
    #032a4d 0%,
    #000910 80%
  );
}

img, video {
    max-width: none !important;
    height: auto;
}