@import "tailwindcss";

@font-face {
  font-family: AldotheApache;
  src: url(/fonts/AldotheApache.woff2);
}
@font-face {
  font-family: Changes;
  src: url(/fonts/Changes.woff2);
}
@font-face {
  font-family: PlayPretend;
  src: url(/fonts/Play\ Pretend.woff2);
}

html,
body {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    #06407c 0%,
    #032a4d 0%,
    #000910 80%
  );
}
main {
  width: 100%;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

.galaxy-container {
  height: 100vh !important;
  width: 100vw !important;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden !important;
  background: radial-gradient(
    circle at center,
    #06407c 0%,
    #032a4d 0%,
    #000910 80%
  );
}
.galaxy-container canvas {
  width: 100% !important;
  height: 100% !important;
}

img,
video {
  max-width: none !important;
  height: auto;
}

#moon_slider {
  width: 100%;
  height: 110vh;
  overflow: hidden;
  margin: 6rem 0 8rem;
}

#astronaut_fixed_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

#fixed_astro {
  position: absolute;
  height: 15rem;
  width: auto;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 0);
}

#fixed_social {
  position: fixed;
  left: 1rem;
  z-index: 99;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

#social_box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #052753;
  padding:.8rem .8rem;
  border-radius: 5px;
  border: 4px solid #1362A2;
  pointer-events: all;
}

#social_box img{
  height: 1.5rem !important;
  width: auto;
  filter: invert(1) !important;
  transition: scale ease .3s;
  will-change: scale;
}

#social_box img:hover{
  scale: 1.05;
}