nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  position: fixed;
  top: 0;
  z-index: 99;
  pointer-events: none;
}
#nav_logo {
  pointer-events: all;
}

nav img {
  height: 4.5rem;
  width: auto;
}

#store_btn_container {
  margin: 0;
  position: fixed;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 25%;
  top: .5%;
  left: calc(75% - 3rem);
}

#store_btn_container a {
  width: 50%;
  pointer-events: all;
  transition: scale ease 0.2s;
  display: inline-block;
}
#store_btn_container a:hover {
  scale: 1.01;
}

#store_btn_container img {
  height: 100%;
  width: 100%;
}
